.App {
  text-align: center;
  box-sizing: border-box;
  max-width: 100%;
  background-color: #070709;
}

section {
  scroll-margin-top: 100px;
}

:root {
  --headshotSize: 300px;
}

.app-content {
  width: 100%;
}

.box-container {
  transition: all 1s ease;
}

.red-glow {
  filter: drop-shadow(0px 0px 5px #EF2427);
}

.red-glow-light {
  filter: drop-shadow(0px 0px 5px #EF242766);
}

.panned-left {
  transform: translateX(-100vw);
}

.panned-right {
  transform: translateX(100vw);
}

.home-bio-container {
  min-height: 800px;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  min-height: 400px;
}

.home-top-left-col {
  background-color: transparent;
  justify-content: flex-end;
  z-index: 2;
}

.headshot-container {
  height: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.home-top-headshot {
  border: .5rem solid #1a1a1e;
  width: 100%;
  height: auto;
  max-width: var(--headshotSize);
  max-height: var(--headshotSize);
  border-radius: 50%;
}

.header-top-text {
  justify-content: start;
  width: 100%;
}

@media (max-width: 990px) {
  .home-top-left-col {
    justify-content: center;
  }

  .header-top-text {
    justify-content: center;
    width: 100vw;
    text-align: center;
  }
  
  .home-top-headshot {
    border: 0.5rem solid #070709;
    align-self: center;
    left: 50%
  }
  
  .headshot-container {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .home-top-bio-container {  
    margin-top: calc(2rem + calc(var(--headshotSize) / 2));
  }
}

@media (max-width: 576px) {
  .home-top-bio-container {  
    padding-top: calc(calc(var(--headshotSize) / 2))
  }
}

.bg-transparent-red {
  background-color: #EF242744;
}

.sticky-walls {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}